:root {
    /* --texto-destaque: #3c0d00;*/
    --texto-destaque: #7a1b01;
    --rosa: #D30922;
    --girassol: #ecad02;
    --orange: orange;
    --white: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    display: block;


}

header {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, .398);
}

#toggler {
    display: none;
}

header>a>span {
    color: var(--rosa)
}

.icon-menu {
    font-size: 3rem;
    color: var(--rosa);
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: 0.1rem solid rgba(0, 0, 0, .3);
    display: none;
}

header .logo {
    font-size: 450%;
    color: var(--texto-destaque);
    font-weight: bold;
}

.navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: var(--girassol);
}

.navbar a:hover {
    color: var(--rosa);
}

header .icons a {
    font-size: 3rem;
    margin-left: 1.5rem;
}

/*Início do Main*/

section {
    padding: 2rem 9%;
    position: relative;
}

.home {
    display: flex;
    align-items: center;
    min-height: 40vh;
    /* background: url(/images/fundo.png);
    background-size: cover;*/
}

.home .content {
    max-width: 100%;
}

.home .content h3 {
    font-size: 3rem;
    color: var(--rosa);
    text-align: center;
}

.home .content .cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 4rem;
    line-height: 4rem;
    padding: 1rem 1rem;


}

.home .content .cont span p {
    font-size: 3rem;
    text-align: center;
    color: var(--rosa);
}

.home .content .cont span #slogan {
    font-size: 70%;
    color: var(--texto-destaque);
    ;
}

.foto-banner {
    width: 80%;
    height: 70%;
    border-radius:200px;
    border: 1.5rem solid var(--girassol);
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);

}


.heading {
    text-align: center;
    font-size: 4rem;
    padding: 1rem;

    position: relative;
    color: var(--rosa);

}

.sobre .row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.sobre .row .video-container {
    flex: 1 1 10rem;
    position: relative;
    display: flex;
    flex-direction: row;

}

.sobre .row .video-container video {
    width: 100%;
    border: 1.5rem solid var(--girassol);
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
    height: 40rem;
    object-fit: cover;
    border-radius: 200px;

}



.sobre .row .video-container h4 {
    width: 100%;
    height: 10%;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: #fff;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;

}

.sobre .row .content {
    flex: 1 1 40rem;
    font-size: 2rem;
    width: 100%;
    text-align: center;


}

.sobre .row .content h3 {
    display: inline-block;
    font-size: 3rem;
    color: var(--girassol);
}

.sobre .row .content q {
    display: block;
    font-size: 2rem;
    color: var(--texto-destaque);
    text-align: justify;
    /* background:#eee;*/
}

.sobre .row .content #autora-frase {
    text-align: right;
    margin-top: 1rem;
    font-size: 1.5rem;
}


.produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 40vh;
    color: var(--rosa);


}

.produtos .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    flex-direction: row;
    width: 120%;
    height: 100%;
    justify-content: space-around;
}

.produtos .box-container .box {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 10%;
    padding: 2px;
    font-size: 2rem;
    position: relative;
    border: 5px solid var(--orange);
    box-shadow: 0rem 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.produtos .box-container .box .image img {
    width: 100%;
    height: 10%;

}

.produtos .box-container .box:hover {
    cursor: pointer;
    transform: scale(1.2);

}

.produtos .box-container .box .icons {
    position: absolute;
    left: 0;
    right: 0;
    top: -7rem;
    display: flex;




}

.produtos .box-container .box:hover .icons {
    top: 0%;

}


.produtos .box-container .box .icons a {
    width: 50%;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.5rem;
    background: var(--orange);
    color: white;
    font-weight: bold;



}

.produtos .box-container .box .icons a span {
    border-left: .1rem solid var(--rosa);
    border-right: .1rem solid var(--rosa);
}

.produtos .box-container .box .icons a:hover {
    background: var(--rosa);
    color: white;
}

/*.produtos .box-container .box::{
    transform: scale(2.1);
    z-index:3;
}*/


.produtos h3 {
    font-size: 4rem;
}

.produtos h4 {
    font-size: 2rem;
}

.contato {
    min-height: 40vh;

}

.contato .row {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    align-items: center;
}

.contato .row form {
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    border: .1rem solid rgba(0, 0, 0, .3);
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .3);
    background: #fff;
    border-radius: 0.5rem;
}

.contato .row form .box {
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    text-transform: ;
    border: .1rem solid rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    margin: .7rem 0;

}
.contato .row form .btn{
    color:var(--girassol);
    
    border-radius:1px;
    padding:1px;
}
.contato .row form .box:focus {
    border-color: var(--rosa);
}

.contato .row form textarea {
    height: 15rem;
    resize: none;
}

.contato .row .foto {
    flex: 1 1 40rem;
}

.contato .row .foto>img {
    width: 100%;

}


.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, .398);


}

.footer .box-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    gap: 0.4rem;


}

.footer .box-container .box {
    width: 70%;
    height: 140px;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    background: transparent;
}

.footer .box-container .box h3 {
    font-size: 1.8rem;
    color: var(--girassol);
}

.footer .box-container .box a {
    color: var(--texto-destaque);
}

.footer .box-container .box p {
    color: var(--texto-destaque);
}

.footer .box-container .box a:hover {
    color: var(--rosa);

}

.footer .box-container .box a:visited {
    text-decoration: none;
}

/*---------------------------------------------------------------------------*/
/**/
/*início do media query*/

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }

    /*main*/
    section {
        padding: 2rem;
    }
}

/*---------------------------------------------------------------------------*/
@media(max-width:768px) {

    header .icon-menu {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: 255, 255, 255;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

    /*main*/
    .home .content h3 {
        font-size: 5rem;
    }

    .home .content .cont {
        font-size: 2.5rem;
        background-position: center;
    }

    .foto-banner {
        width: 90%;
        height: 50%;

    }
}





/*---------------------------------------------------------------------------*/
@media(max-width:450px) {
    html {
        font-size: 40%;
    }

    header {
        font-size: 100%;
        color: var(--rosa);
        font-weight: bold;
    }

    .heading {
        font-size: 3rem;

    }

    .produtos .box-container {
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 100%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;

    }

}