* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    display: block;


}

header {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .1);
}

#toggler {
    display: none;
}


.icon-menu {
    font-size: 3rem;
    color: #D30922;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: 0.1rem solid rgba(0, 0, 0, .3);
    display: none;
}

header .logo {
    font-size: 450%;
    color: #D30922;
    font-weight: bold;
}

.navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #ecae02;
}

.navbar a:hover {
    color: #D30922;
}

header .icons a {
    font-size: 3rem;
    margin-left: 1.5rem;
}

/*Início do Main*/

section {
    padding: 2rem 9%;
    position: relative;
}

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(/images/fundo.png);
    background-size: cover;
}

.home .content {
    max-width: 100%;
}

.home .content h3 {
    font-size: 3rem;
    color: #D30922;
    text-align: center;
}

.home .content .cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 4rem;
    line-height: 4rem;
    padding: 1rem 1rem;


}

.home .content .cont span p {
    font-size: 3rem;
    text-align: center;
    color: #D30922;
}

.home .content .cont span #slogan {
    font-size: 70%;
    color: black;
}

.foto-banner {
    width: 80%;
    height: 70%;
}


.heading {
    text-align: center;
    font-size: 4rem;
    padding: 1rem;
    margin: 2rem;
    position: relative;

}

.sobre .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.sobre .row .video-container {
    flex: 1 1 10rem;
    position: relative;
    display:flex;
    flex-direction:row;

}

.sobre .row .video-container video {
    width:100%;
    border: 1.5rem  solid #ecad02;
    border-radius:.5rem;
    box-shadow:0.5rem 1rem rgba(0, 0, 0, .1); 
    height:40rem;
    object-fit: cover;
    border-radius:200px;
    
}



.sobre .row .video-container h4 {
    width:100%;
    height:10%;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: #fff;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
  }
.sobre .row .content {
    flex: 1 1 40rem;
    font-size:2rem;
    width:100%;
    border: 1px solid blue;
    text-align:center;

}






/*---------------------------------------------------------------------------*/
/**/
/*início do media query*/

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }

    /*main*/
    section {
        padding: 2rem;
    }
}

/*---------------------------------------------------------------------------*/
@media(max-width:768px) {

    header .icon-menu {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: 255, 255, 255;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

    /*main*/
    .home .content h3 {
        font-size: 5rem;
    }

    .home .content .cont {
        font-size: 2.5rem;
        background-position: center;
    }

    .foto-banner {
        width: 90%;
        height: 50%;

    }
}


/*---------------------------------------------------------------------------*/
@media(max-width:450px) {
    html {
        font-size: 40%;
    }

    header {
        font-size: 100%;
        color: #D30922;
        font-weight: bold;
    }

    .heading {
        font-size: 3rem;

    }

}